@let _small = small(); @let _variant = variant(); @let _selectable =
selectable();

<button
  [disabled]="disabled()"
  (click)="handleClick($event)"
  class="uppercase text-xs font-bold disabled:bg-slate-50 disabled:text-slate-300 disabled:border-slate-200 disabled:shadow-none rounded shadow px-4 py-2"
  [ngClass]="{
    'bg-primary': _variant === 'primary',
    'bg-secondary': _variant === 'secondary',
    'text-primary': _variant === 'secondary',
    'text-secondary': _variant === 'primary',
    'min-w-min': _small,
    'min-w-40': !_small,
    'focus:ring-violet-300': _selectable,
    'focus:ring': _selectable,
  }"
>
  <ng-content></ng-content>
</button>
