<div
  class="container p-8 m-auto text-center flex flex-col items-center justify-center"
>
  <h1 class="h1">The Hangman</h1>
  <div class="w-32">
    <app-hang-tree [full]="true" />
  </div>
  <h2>Game instructions</h2>
  <div class="my-4">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam posuere
      sollicitudin pellentesque. Integer feugiat nunc vitae eros dignissim, vel
      vehicula ex tempus. Etiam in egestas orci. Sed sed enim sed arcu ultrices
      rhoncus. Sed et mauris porttitor, interdum purus non, bibendum magna.
      Quisque convallis urna vitae massa consequat vehicula. Praesent
      scelerisque commodo ultricies. Phasellus convallis magna sit amet eros
      cursus, ac sodales leo vulputate. Ut dictum nec massa a vestibulum. In
      interdum tempor dui, et faucibus enim mattis vel. Nam vehicula dolor eu
      tellus volutpat condimentum. In tempor sem lorem, et consectetur quam
      rutrum vulputate. Etiam finibus ex eget sagittis varius. Maecenas ex
      turpis, sodales in nibh tincidunt, porta interdum eros. Curabitur viverra
      sem leo, ut hendrerit magna aliquam id. Nam non interdum ipsum.
    </p>
  </div>
  <a>
    <app-button routerLink="/game" class="my-4">Click me</app-button>
  </a>
</div>
