<div
  class="container p-4 md:p-8 m-auto text-center flex flex-col items-center justify-center"
>
  <h1 class="h1">The Hangman</h1>
  <div class="w-32 my-8">
    <app-drawer [full]="true" />
  </div>
  <h2>Game instructions</h2>
  <div class="my-4">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam posuere
      sollicitudin pellentesque. Integer feugiat nunc vitae eros dignissim, vel
      vehicula ex tempus. Etiam in egestas orci. Sed sed enim sed arcu ultrices
      rhoncus. Sed et mauris porttitor, interdum purus non, bibendum magna.
      Quisque convallis urna vitae massa consequat vehicula. Praesent
      scelerisque commodo ultricies. Phasellus convallis magna sit amet eros
      cursus, ac sodales leo vulputate.
    </p>
  </div>
  <a>
    <app-button [routerLink]="startPageRoute">Got it!</app-button>
  </a>
</div>
