<svg viewBox="0 0 10 12">
  <path *ngIf="full() || wrongTips() > 0" d="M1,11 h8" />
  <path *ngIf="full() || wrongTips() > 1" d="M9,11 v-10" />
  <path *ngIf="full() || wrongTips() > 2" d="M9,1 h-4" />
  <path *ngIf="full() || wrongTips() > 3" d="M5,1 v2" />
  <circle *ngIf="full() || wrongTips() > 4" cx="5" cy="4" r="1" />
  <path *ngIf="full() || wrongTips() > 5" d="M5,5 v3" />
  <path *ngIf="full() || wrongTips() > 6" d="M5,5 l-2,2" />
  <path *ngIf="full() || wrongTips() > 7" d="M5,5 l2,2" />
  <path *ngIf="full() || wrongTips() > 8" d="M5,8 l-2,2" />
  <path *ngIf="full() || wrongTips() > 9" d="M5,8 l2,2" />
</svg>
